.recover-password-page {
	width: 100%;
	position: absolute;
	background-color: rgba(215, 215, 215, 0.139);
	height: calc(100vh - 80px - 50px);
  backdrop-filter: blur(10px);
  display: grid;
  place-content: center;
}

.forgot-password-message {
	text-align: center;

}

.forgot-password-message h3 {
	padding: 0;
	font-weight: bold;
	margin: 10px 0;
}