.login-page {
	display: flex;
	overflow: hidden;
	height: calc(100vh - 80px - 50px);
}

.login-page > * {
	width: 50%;
	height: 100%;
}

.login-page-text {
	display: grid;
	place-content: center;
	animation: TextInRight 1.4s ease-in-out both;
}

.login-page-text span {
	font-size: 36px;
	text-align: center;
}

.login-page-text span b {
	font-size: 64px;
}

.login-page-text span h2 {
	margin: 0;
	font-size: 64px;
	color: var(--primary-color);
}

.login-form {
	display: grid;
	place-content: center;
}

mark, mark > a {
	opacity: 80%;
	text-align: right;
	text-decoration: none;
	transition: all 0.2s ease;
	color: var(--secondary-color);
	background-color: transparent;
}

mark > a:hover{
	opacity: 100%;
}

mark > a:focus{
	color: var(--third-color);
	font-weight: bold;
	font-size: 18px;
}
